<!doctype html>
<html>
<head>
  <script src="js/jquery-1.9.1.min.js"></script>
<meta charset="utf-8">
<title>Reader Manga</title>
<link href="reader.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
    <div class="btn_back">
    
    </div>
    		 <div id="przyciski">
               <div class="przycisk_chapter" id="przycisk_01">Wybierz Rozdział&nbsp;&nbsp;<strong>&darr;</strong></div>
               <div class="przycisk_manga" id="przyciski_02">Wybierz Stronę &nbsp;&nbsp;<strong>&darr;</strong></div>
             </div>
    </header>
</body>
</html>
