@charset "utf-8";
body {
	font-family: "Segoe UI", "Segoe UI Light";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FEFEFE;
	margin: 0px;
	background-color: rgb(25,25,25);


}
h1,h2,h3,h4,h5,h6 { margin: 0px; padding:0px;}
header
{
	height:50px;
	border-bottom:1px solid #333;
	line-height:50px;
	background: repeat-x url(images/test.png) top;
	box-shadow: 0px 0px 6px #000;
 	position:fixed; left:0%; right:0%; top:0% ; z-index:11;
}

.przycisk_manga,.przycisk_chapter
{
	padding-left:15px;
	padding-right:15px;
	height:35px;
	line-height:35px;
	border:1px solid #000;
	background: #ebebeb;
	text-shadow: 1px 1px 0px #fff;
	border-radius:6px;
	color:#222;
	margin-left:10px;
	margin-right:10px;
	cursor:pointer
  
}
.przycisk_manga:hover,.przycisk_chapter:hover
{
	text-shadow: 1px 1px 0px #000;
	color:#CCC;
	background: #ef1a1d; 
}
#przyciski
{
	float:right;	
}
#przyciski div 
{
	display: inline-block;
}
.btn_back
{
	background: no-repeat url(images/btn_back.png) bottom;
	height:42px;
	width:146px;
	display:inline-block;
	opacity:0.2;
	margin-left:10px;
	cursor:pointer;

}
.btn_back:hover
{
	opacity:0.6	;
 
}
/* html */
:-webkit-full-screen {
  background:  rgb(25,25,25);
}
:-moz-full-screen {
  background:  rgb(25,25,25);
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
#view-fullscreen
{
	height: 3%;
	position: fixed;
	right: 348px;
	top: 15px;
	cursor: pointer;
	z-index: 12;
}
#odstep
{
	height:55px;

}
.strzalka
{
	height: 172px;
	width:60px;
	background:no-repeat url(images/strzalki.png);
	position:fixed;
	cursor:pointer;
	opacity:0.4;
 
}
.reszta_02
{
	position:relative;
}
#strzalka_lewa
{
	left: 10%;
	top:40%;
}

#strzalka_prawa
{
	background-position: -60px 0px;	
	right: 10%;
	top:40%;
}
#strzalka_lewa:hover,#strzalka_prawa:hover
{
	opacity:0.9;
}
.schowaj
{
	opacity:0 !important;
}
.schowaj:hover
{
	opacity:0.9 !important;
}
.box
{
	 
position: fixed;
z-index: 34;
background: #111;
border: 2px solid #111;
box-shadow: 0px 0px 29px #000;
	
	
}
#rozdzial
{
	left: 62%;
	right: 13%;
	bottom: 30%;
	top: 46px;
	overflow: auto;
	overflow-x: hidden;
	border-radius:6px;
}
#rozdzial ul
{
	margin:0;
	list-style-type:none;
	padding:0;
}
#rozdzial ul li
{
	text-align:center;
	border-top:1px solid #666;
	font-size:16px;
	background:#333;
	margin-bottom:1px;
	text-shadow:1px 1px 0px #000;
	cursor:pointer;
}
#rozdzial ul li:hover
{
	background:#444;
}

#strona
{
		left: 81%;
		right: 2%;
		top: 51px;
		border: 1px solid #555;
		position: fixed;
		height: 281px;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: scroll;
		
		border-radius: 6px;
		padding: 3px;
	
}
#strona ul
{
	margin:0;
	list-style-type:none;
	padding:0;
	line-height:40px;

}
#strona ul li
{
		display:inline-block;
		height:40px;
		width:40px;
		text-align:center;
		background:#333;
		margin:2px;
		border: 1px solid #000;
		border-top: 1px solid #666;
		border-bottom: 1px solid #444;
		cursor:pointer;

}
#strona ul li:hover
{
	background:#444 !important;
}
#strona .current,#strona .current:hover
{
	background-color: #DF4B0D !important;
	border-top: 1px solid  #FFB366 !important;
}






