@charset "utf-8";
body {
	font-family: "Segoe UI", "Segoe UI Light";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	background-color: #FFFFFF;
}
